{% extends 'blank_layout.html' %}

{% load static %}

{% block content %}

<div class="cart-products-container">
    <table>
        <tbody>
            <tr class="table-heading">
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>

            {% for item in cart_items %}
            <tr>
                <th>
                    <div class="product-details">
                        <img src="{{ item.product.image.url }}" alt="product-img" />
                        <div class="cart-product-description">
                            <p class="title">{{ item.product.title }}</p>
                            <p class="price">Price : ${{item.product.price}}</p>
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="item_id" value="{{item.id}}">
                                <input type="submit" value="Remove" />
                            </form>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="counter">

                        <input type="number" name="count" id="count" value="{{item.quantity}}" />
                    </div>
                </th>
                <th>
                    <p class="sub-total">
                        $ {{item.product.price}}
                    </p>
                </th>
            </tr>
            {% endfor %}

        </tbody>
    </table>

    <div class="total-price">
        <table>
            <tr>
                <td>
                    Subtotal
                </td>
                <td>$200.00</td>
            </tr>
            <tr>
                <td>Tax</td>
                <td>$35.00</td>
            </tr>
            <tr>
                <td>
                    Total
                </td>
                <td>
                    $230.00
                </td>
            </tr>
        </table>

    </div>
</div>

{% endblock content %}