{% extends 'blank_layout.html' %}
{% load static %}
{% block content %}

<div class="products-page">


    <div class="products-heading">
        <h1 class="title">
            All Products
        </h1>
        <select name="category" id="category" class="sorting-btn">
            <option value="">Sort By Price</option>
            <option value="">Sort By popularity</option>
            <option value="">Sort By Rating</option>
            <option value="">Sort By Sale</option>
        </select>

    </div>


    <div class="products-container">
        {% for product in products %}
        <div class="product-card">
            <a href="{% url 'product_detail' product.id %}">
                <img src="{{product.image.url  }}" alt="product-img" />
                <hr>
                <div class="product-info">
                    <p class="title">
                        {{product.title}}
                    </p>
                    <p class="rating">
                        {% for i in stars %}
                        {% if i < rating %} <i class="fas fa-star"></i>
                            {% else %}
                            <i class="far fa-star"></i>
                            {% endif %}
                            {% endfor %}
                    </p>
                    <p class="price">
                        ${{product.price}}
                    </p>
                </div>
            </a>
        </div>

        {% empty %}
        No Product

        {% endfor %}





    </div>
    
    <div class="page-btn">
        {% for i in products.paginator.page_range %}
        <div class="page-container {% if products.number == i %} current-page {% endif %}">
            <a href="?page={{ i }}">{{ i }}</a>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock content %}