body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.navbar-container {
    display: flex;
    background: radial-gradient(#fff, #ffd6d6);
    justify-content: center;

}


.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    width: 100%;
    padding: 30px;
    align-items: center;
}

.navbar-logo {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    font-weight: bold;
}

.navbar .navbar-logo a {
    color: rgb(2, 41, 95);
}

.navbar-menu {
    display: flex;
    align-items: center;
}

.navbar-menu a {
    color: #484848;
    font-size: 17px;
    padding-left: 20px;
    font-weight: 500;
}

.cart-logo {
    width: 30px;
    height: 30px;
}

.header {
    display: flex;
    max-height: min-content;
    overflow: hidden;
    justify-content: space-around;
    background: radial-gradient(#fff, #ffd6d6);

}

.header .row {
    display: flex;
    max-width: 1200px;
    width: 100%;
    padding: 10px 20px 80px 20px;

}

.header .col-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 40px 0 20px;
    flex: 1;

}

.header .col-1 h1 {
    font-size: 50px;
}

.header .col-1 p {
    color: #484848;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;

}

.header .btn {
    background-color: #ff523b;
    width: fit-content;
    padding: 15px 20px;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.header .btn:hover {
    background-color: #f96854;
}


.header .col-2 {
    width: 50%;
    display: flex;
    justify-content: center;

}


.header .col-2 img {
    max-width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: contain;
}

footer {
    background-color: black;
    display: flex;
    justify-content: center;

}

.footer-container {
    display: flex;
    color: white;
    padding: 20px 0 20px 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1300px;


}

.footer-container p {
    color: #8a8a8a;
    font-size: 16px;
    text-align: center;
}

.footer-container .row {

    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-container .col-1,
.col-3 {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 10px 10px 30px 10px;
    justify-content: center;
    min-width: 200px;
}


.footer-container .col-2 {
    flex-basis: 40%;
    margin: 10px 10px 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    min-width: 200px;
    max-width: 400px;


}


.footer-container ul {
    list-style: none;
    color: #8a8a8a;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-top: 15px;

}

.footer-container li {
    padding-top: 4px;
}



.footer-container h3 {
    margin: 0;
}


.footer-container .btn-container {
    display: flex;
    flex-direction: column;

}

.footer-btn {
    width: 140px;
}

hr {
    border: none;
    height: 1.5px;
    background-color: #b5b5b5;
    margin: 0;
    width: 90%;
}

.category-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #555;
    font-size: 25px;
    margin: 80px 0 40px 0;
}
.category-heading h2{
    margin: 0 0 10px 0;
}

.category-heading hr{
    width: 180px;
    height: 3px;
    background-color: #ff523b;
}