 {% load static %}
 <div class="navbar-container">
     
     <div class="navbar">
            <div class="navbar-logo">
                <a href="{% url 'home' %}">PyCart</a>
            </div>
            <div class="navbar-menu">
                <a href="{% url 'products' %}">Products</a>
                <a href="about">About</a>
                <a href="contact">Contact</a>
                <a href="{% url 'account' %}">Account</a>
                <a href="{% url 'cart' %}">
                    <img src="{% static 'images/cart.png' %}" alt="cart-logo" class="cart-logo">
                </a>
            </div>
        </div>
 </div>